<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MadLibs</title>
  </head>
  <body>
    <p>Once upon a midnight @Model.GetAdjective1(), while I pondered @Model.GetAdjective2() and @Model.GetAdjective3(),</p>
    <p>Over many a quaint and curious @Model.GetNoun1() of forgotten @Model.GetNoun2(),</p>
    <p>While I @Model.GetPastVerb1(), nearly napping, suddenly there came a @Model.GetNoun3(),</p>
    <p>As of @Model.GetNoun4() gently rapping, rapping at my @Model.GetPlace1() door.</p>
    <p>``Tis some @Model.GetNoun5(),` I muttered, `tapping at my @Model.GetPlace1() door -</p>
    <p>Only this, and nothing more.`</p>
    <a href="/">Home</a>
  </body>
</html>
