<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>MadLibs</title>
  </head>
  <body>
    <p>Two @Model.GetPluralNoun1(), both alike in dignity,</p>
    <p>In fair @Model.GetPlace1(), where we lay our scene,</p>
    <p>From ancient @Model.GetNoun1()</p>
    <p>Where civil blood makes civil hands unclean.</p>
    <p>From forth the fatal loins of these two foes</p>
    <p>A pair of star-cross'd @Model.GetPluralNoun2() take their life;</p>
    <p>Whole misadventured piteous overthrows</p>
    <p>Do with their @Model.GetNoun2() bury their parents' strife.</p>
    <p>The fearful passage of their @Model.GetAdjective1() love,</p>
    <p>And the continuance of their parents' rage,</p>
    <p>Which, but their children's end, nought could @Model.GetVerb1(),</p>
    <p>Is now the @Model.GetNumber1() hours' traffic on our stage;</p>
    <p>The which if you with @Model.GetAdjective2() @Model.GetBodyPart1() attend,</p>
    <p>What here shall @Model.GetVerb2(), our toil shall strive to mend.</p>
    <a href="/">Home</a>
  </body>
</html>
